.cart {
  font-size: 0.1rem;
  background-color: white;
  height: fit-content;
  border-radius: 0.75rem;
  padding: 1.5rem;
  margin-top: 0.05rem;
  width: 100%;
  max-width: 24rem;
}

.cart__header {
  font-size: 1.5rem;
  font-weight: var(--font-bold);
  color: var(--red);
  margin-bottom: 0.5rem;
}

/* Empty Cart State */
.cart__empty-img {
  margin: 2rem auto 0.1rem auto;
}

.cart__empty-message {
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
  color: var(--clr-Rose-400);
  text-align: center;
  margin: 0 0 1rem 0;
}

/* Not empty Cart State */
.cart-item {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.05rem solid var(--clr-Rose-400);
  padding: 1.05rem 0.05rem 0.1rem 0;
}

.cart-item:last-of-type {
  padding-top: 1.0625rem;
  padding-bottom: 1.45rem;
}

.cart-item p {
  color: var(--clr-Rose-400);
}

.cart-item__name {
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.5rem;
}

.cart-item__quantity {
  font-weight: var(--font-semi-bold);
  color: var(--red);
  margin-right: 1.5rem;
}

.cart-item__price {
  margin-right: 0.5rem;
}

.cart-item__total-price {
  font-weight: var(--font-semi-bold);
}

.cart-item__remove-button {
  height: 1rem;
  width: 1rem;
  padding: 0.2rem;
  border-radius: 50%;
  border: 0.05rem solid var(--clr-Rose-300);
}

/*total order price*/
.cart__order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.cart__total-price {
  font-size: 1.5rem;
  font-weight: var(--font-bold);
  padding: 1.5rem 0;
}

.cart__delivery-message {
  font-size: 1rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-Rose-100);
  height: 3.25rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.cart__delivery-message > img {
  display: inline;
  margin-right: 0.5rem;
}


.cart__confirm-order-button {
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
  color: var(--rose-50);
  background-color: var(--red);
  width: 100%;
  height: 3.3rem;
  border-radius: 1.75rem;
}

