.order-modal {
  top: calc(50% - 0.0625rem);
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 20rem;
  width: 100%;
  max-width: 37rem;
  padding: 2.5rem 2.5rem 2.375rem 2.5rem;
  border: none;
  border-radius: 0.75rem;
}

.order-modal::backdrop {
  background-color: black;
  opacity: 0.5;
}

.order-modal__header {
  font-size: 2.5rem;
  font-weight: var(--font-bold);
  color: var(--rose-900);
}

.order-modal img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

/* Order Confirmed State */

.order-modal__header:not(:first-child) {
  margin: 1.5rem 0 0.5rem 0;
}

.order-modal__message {
  color: var(--rose-400);
  margin-bottom: 2rem;
}

.order-modal__items-wrapper {
  background-color: var(--rose-50);
  padding: 0.5rem 1.5rem 1rem 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.order-item {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 0.05rem solid var(--rose-100);
}

.order-item:last-of-type {
  padding-bottom: 1.5rem;
}

.order-item > div {
  display: grid;
  grid-template-columns: 3rem 1fr;
  column-gap: 1rem;
  row-gap: 0.3rem;
}

.order-item__thumbnail {
  border-radius: 0.25rem;
  grid-row: 1 / 3;
}

.order-item__name {
  font-weight: var(--font-semi-bold);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.order-item__quantity {
  font-weight: var(--font-semi-bold);
  color: var(--red);
  margin-right: 0.5rem;
}

.order-item div > p:last-child {
  color: var(--rose-400);
}

.order-item__total-price {
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
  padding-left: 0.5rem;
  margin-right: 0.05rem;
}

.order-modal__items-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.order-modal__items-total-price {
  font-size: 1.5rem;
  font-weight: var(--font-bold);
}

.order-modal__start-new-order-button {
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
  color: var(--rose-50);
  background-color: var(--red);
  width: 100%;
  height: 3.5rem;
  border-radius: 1.75rem;
  margin-bottom: 0.1rem;
  transition: opacity 0.15s ease-in-out;
}

.order-modal__start-new-order-button:hover,
.order-modal__start-new-order-button:focus {
  opacity: 1;
}

@media (max-width: 600px) {
  .order-modal {
    position: fixed;
    top: initial;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(0%, 0%);
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .order-item__name {
    margin-top: -0.05rem;
  }
}