.products {
  width: 100%;
  max-width: 50rem;
}

.products__title {
  font-size: 2.5rem;
  font-weight: var(--font-bold);
  color: var(--rose-900);
  margin-bottom: 1rem;
}

.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  column-gap: 1.5rem;
  row-gap: 2rem;
}

.product {
  position: relative;
  max-width: 15rem;
}

.product.selected::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 15rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--red);
}

.product__img {
  height: 15rem;
  border-radius: 0.5rem;
  margin-bottom: 2.25rem;
}

.product__category {
  font-size: 1rem;
  color: var(--rose-400);
}

.product__name {
  font-weight: var(--font-semi-bold);
}

.product__price {
  font-weight: var(--font-semi-bold);
  color: var(--red);
}

.product__actions {
  position: absolute;
  top: 13.5rem;
  left: calc(20% - 0.06rem);
  background-color: hsl(0, 0%, 100%);
  height: 2.75rem;
  width: 10rem;
  border: 0.05rem solid var(--rose-400);
  border-radius: 1.5rem;
  overflow: hidden;
}

.product.selected .product__actions {
  background-color: var(--red);
  border-color: var(--red);
}

.product__actions > * {
  width: 100%;
  height: 100%;
}

.product__add-to-cart-button {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
  letter-spacing: -0.03rem;
}

.product__add-to-cart-icon {
  width: 1.5rem;
}

.product__cart-actions,
.product__add-to-cart-button {
  position: absolute;
}

.product__cart-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  color: var(--rose-50);
}

.product__cart-action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 1rem;
  border: 0.05rem solid var(--rose-50);
  border-radius: 50%;
}

.product__cart-action-btn:hover,
.product__cart-action-btn:focus {
  opacity: 0.75;
}

.product__cart-action-btn > img {
  width: 0.5rem;
}

.product__actions:hover,
.product__add-to-cart-button:focus-within {
  background-color: hsl(0, 0%, 94%);
}

.product__cart-actions,
.product.selected .product__add-to-cart-button {
  z-index: -1;
}

.product.selected .product__cart-actions {
  z-index: 1;
  pointer-events: all;
}

@media (max-width: 1300px) {
  .products {
    margin: 0 0 1.8rem 0;
  }
}

@media (max-width: 700px) {
  .product::before {
    height: 11rem;
  }

  .products__list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* .product__img {
    height: 11rem;
  } */

  .product__actions {
    left: calc(20% - 0.1rem);

    /* top: 9.5rem;
    left: 2rem; */
    /* width: 8rem; */
  }
}

@media (max-width: 600px) {
  .products__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 450px) {
  .products__list {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }

  .product {
    max-width: none;
  }

  .product::before {
    height: 13rem;
  }

  .product__img {
    width: 100%;
    /* height: 13rem; */
  }

  .product__actions {
    left: calc(20% - 0.06rem);

    top: 13.2rem;
  }
}
