
.food-item-list-container-grid {
  display: grid;
  gap: 1.5em;
  padding: 2em;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.food-item-box {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: 250px;
  background: hsl(var(--clr-Rose-50));
}

.food-img {
  /* src: "./assets/images/image-baklava-desktop.jpg"; */
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.add-food-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -35px;
}

.add-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding: 8px 20px;
}

.add-cart-text {
  align-items: center;
}

.food-info-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.25em;
}

.food-info-container > p:nth-child(1) {
  color: hsl(var(--clr-Rose-300));
  font-size: var(--fs-300);
}

.food-info-container > p:nth-child(2) {
  color: hsl(var(--clr-Rose-900));
  font-size: var(--fs-500);
  font-weight: var(--fw-600);
}

.food-info-container > p:nth-child(3) {
  color: hsl(var(--clr-Rose-500));
  font-size: var(--fs-500);
  font-weight: var(--fw-600);
}

.add-button > img {
  width: 20px;
}

.add-button > span {
  font-size: hsl(--fs-300);
  font-weight: var(--fw-500);
}

.hidden {
  display: none;
}
